@media only screen and (max-width: 767px) and (orientation: portrait) {
    .greetings-page {
      position: relative;
    }
  
    .gif-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  
    .content {
      position: relative; /* Чтобы контент отображался поверх гифки */
      z-index: 1; /* Чтобы контент находился выше гифки */
      text-align: center;
    }
  
    h1 {
        margin-top: -230px;
      font-size: 2rem;
    }
    h3{
        margin-top: -47px;
    }
  }

  .h3colors {
    animation: changeColor 0.8s infinite alternate;
  }
  @keyframes changeColor {
    0% {
      color: #FF5733; /* Оранжевый */
      text-shadow: 0 0 10px #FF5733; /* Тень оранжевого цвета */
    }
    20% {
      color: #FFC300; /* Жёлтый */
      text-shadow: 0 0 10px #FFC300; /* Тень жёлтого цвета */
    }
    40% {
      color: #FF5733; /* Оранжевый */
      text-shadow: 0 0 10px #FF5733; /* Тень оранжевого цвета */
    }
    60% {
      color: #C70039; /* Красный */
      text-shadow: 0 0 10px #C70039; /* Тень красного цвета */
    }
    80% {
      color: #900C3F; /* Тёмно-розовый */
      text-shadow: 0 0 10px #900C3F; /* Тень тёмно-розового цвета */
    }
    100% {
      color: #581845; /* Тёмный пурпурный */
      text-shadow: 0 0 10px #581845; /* Тень тёмного пурпурного цвета */
    }
  }
  
  
  
  